![texto alternativo](https://drive.google.com/uc?id=1_ZoJOp39dxsRTVndJP1_7jdY7oGi8sSu) 

<h1><center>Redes Neuronales con Keras y Scikit</center></h1>


<center><i>Proyecto: Predicción de precios de vehiculos usados</i></center>

<h1>Contenido</h1>

<div class="alert alert-block alert-warning" style="margin-top: 20px">
    <ol>
        <li><a href="#problema">Contexto Analítico  y exploración de datos</a></li>     
        <li><a href="#ingenieria">Ingeniería de datos</a></li>           
        <li><a href="#arquitectura">Diseño, Entrenamiento y Evaluación de la RN</a></li>
    </ol>
</div>
<br>
<hr>

<h1 id="problema">Contexto analítico y exploración de datos</h1>

El mercado de autos usados es reconocido por ser un sector economico muy competido con un centenar de compañias que luchan por hacerse con una porción de la torta. El precio de los autos se devalua año año debido a multiples factores y determinar el precio correcto es clave para las compañias para lograr competir en el mercado. En este caso se requiere implementar una red neural que permita determinar el valor más justo para los vehiculos dependiento de sus atributos.

Se cuenta con un dataset (Craiglist_Cars.csv) que serán cargados directamente a Colab.

In [1]:
#Importamos las librerias necesarias
import pandas as pd
import numpy as np
import io
from google.colab import files #Librería necesaria para interactuar con archivos en Colab

In [2]:
#uploaded = files.upload()
#cars = pd.read_csv(io.StringIO(uploaded['Craiglist_Cars.csv'].decode('utf-8')), sep = ',' )
cars = pd.read_csv('Craiglist_Cars.csv', sep = ',' )
cars.head(3)

   year manufacturer  condition  ...         type paint_color price
0  2009    chevrolet       good  ...          SUV       white  9000
1  2002          gmc       good  ...       pickup       white  6000
2  2007      pontiac  excellent  ...  convertible         red  7000

[3 rows x 12 columns]

#1. Evalua la cantidad, tipo y completitud de las variables disponibles.

In [3]:
print(cars.shape)
100*cars.isnull().sum()/cars.shape[0]

(434542, 12)

year             0.000000
manufacturer     3.646138
condition       36.860649
cylinders       28.306355
fuel             0.839505
title_status     0.662997
transmission     0.989087
drive           13.280189
size            58.133621
type            11.566661
paint_color     19.734571
price            0.000000
dtype: float64

In [4]:
types = pd.DataFrame(cars.dtypes)
print(types.groupby(0).size())

0
int64      2
object    10
dtype: int64

In [5]:
categoricas = types.index[types[0] == 'O'].values
for line in categoricas:
 print("La variable "+ line +" contiene:",str(len(cars[line].unique()))+" distinct values")

La variable manufacturer contiene: 43 distinct values
La variable condition contiene: 7 distinct values
La variable cylinders contiene: 9 distinct values
La variable fuel contiene: 6 distinct values
La variable title_status contiene: 7 distinct values
La variable transmission contiene: 4 distinct values
La variable drive contiene: 4 distinct values
La variable size contiene: 5 distinct values
La variable type contiene: 14 distinct values
La variable paint_color contiene: 13 distinct values

In [ ]:
###Coloca tu código aquí

<h1 id="ingenieria">Ingeniería de datos</h1>

Ahora se debe preparar la información para poder alimentar la red neuronal.

# 2. Implementa estrategías para tratar la información nula en las variables cuya tasa de nulos sea máximo el 10%

In [6]:
cars["fuel"] = cars["fuel"].fillna(cars["fuel"].mode()[0])

In [7]:
print(cars.shape)
100*cars.isnull().sum()/cars.shape[0]

(434542, 12)

year             0.000000
manufacturer     3.646138
condition       36.860649
cylinders       28.306355
fuel             0.000000
title_status     0.662997
transmission     0.989087
drive           13.280189
size            58.133621
type            11.566661
paint_color     19.734571
price            0.000000
dtype: float64

In [8]:
cars["title_status"] = cars["title_status"].fillna(cars["title_status"].mode()[0])
cars["transmission"] = cars["transmission"].fillna(cars["transmission"].mode()[0])
cars["manufacturer"] = cars["manufacturer"].fillna(cars["manufacturer"].mode()[0])
#Verificamos el cambio
100*cars.isnull().sum()/cars.shape[0]

year             0.000000
manufacturer     0.000000
condition       36.860649
cylinders       28.306355
fuel             0.000000
title_status     0.000000
transmission     0.000000
drive           13.280189
size            58.133621
type            11.566661
paint_color     19.734571
price            0.000000
dtype: float64

Luego del procedimiento anterior se debe proceder a convertir las variables categoricas en variables numericas. Durante el curso implementamos un método de One Hot Encoding disponible en Scikit Learn. En este caso utilizaremos una funcionalidad embedida en Pandas denominada ["get_dummies"](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html):

In [9]:
df= cars.copy()
for col in categoricas:
    df = pd.concat([df, (pd.get_dummies(df[col])).astype(int)], axis=1)
    df.drop(columns=[col],inplace=True)
#Al crear las variables dummies se crean varias columnas referentes a categorias
# 'other' que no aportan ningún valor al dataset por lo cual las eliminamos
df.drop('other', axis=1, inplace=True)
print(df.shape)
df.head(3)

(434542, 100)

   year  price  acura  alfa-romeo  ...  red  silver  white  yellow
0  2009   9000      0           0  ...    0       0      1       0
1  2002   6000      0           0  ...    0       0      1       0
2  2007   7000      0           0  ...    1       0      0       0

[3 rows x 100 columns]

In [10]:
types = pd.DataFrame(df.dtypes)
print("Tipos de variables",types.groupby(0).size())

Tipos de variables 0
int64    100
dtype: int64

In [11]:
numeric_columns = list(set(types.index[types[0] =="int64"].values) - set(["price"]))
variables_consolidadas = df[numeric_columns]
objetivo = df["price"] #Variable objetivo de nuestra regresion.

variables_consolidadas.head(3)

   6 cylinders  datsun  hybrid  10 cylinders  ...  year  salvage  salvage  pontiac
0            0       0       0             0  ...  2009        0        0        0
1            0       0       0             0  ...  2002        0        0        0
2            0       0       0             0  ...  2007        0        0        1

[3 rows x 99 columns]

# 3. Separa el set de datos consolidados en 3 sets (entrenamiento, prueba y validación) de acuerdo con las recomendaciones vistas en el curso.

In [12]:
#Coloca tu código aquí
from sklearn.model_selection import train_test_split

#80% train 20% test
x_train,x_test, y_train,y_test = train_test_split(variables_consolidadas,objetivo,test_size=0.2, random_state=2020)

In [13]:
#90% train 10% val
x_train,x_val, y_train,y_val = train_test_split(x_train,y_train,test_size=0.1, random_state=2020)

In [14]:
y_train=y_train.values.reshape(-1,1)
y_test=y_test.values.reshape(-1,1)
y_val=y_val.values.reshape(-1,1)

In [15]:
print("Shape of x_train:",x_train.shape)
print("Shape of x_test:",x_test.shape)
print("Shape of x_val:",x_val.shape)
print("Shape of y_train:",y_train.shape)
print("Shape of y_test:",y_test.shape)
print("Shape of y_val:",y_val.shape)

Shape of x_train: (312869, 99)
Shape of x_test: (86909, 99)
Shape of x_val: (34764, 99)
Shape of y_train: (312869, 1)
Shape of y_test: (86909, 1)
Shape of y_val: (34764, 1)

<h1 id="arquitectura">Diseño, Entrenamiento y Evaluación de la RN</h1>

Una vez consolidado los sets de información de entrenamiento, validacion y pruebas ya podemos iniciar a modelar nuestra red neuronal con las siguientes consideraciones:
* Realiza la prueba con un par de arquitecturas iniciales.
* Evalua el desempeño de la red.
* Si el desempeño es bajo vuelve a la información y prueba estrategias de estandarización de la información.

# 4. Implementa una red neuronal cuyas pérdidas (MSE) con el set de prueba sea menor a 0.40.

In [16]:
#Coloca tu código aquí
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_val_scaled = scaler.transform(x_val)
x_test_scaled = scaler.transform(x_test)

scaler1 = StandardScaler()
scaler1.fit(y_train)
y_train_scaled = scaler1.transform(y_train)
y_val_scaled = scaler1.transform(y_val)
y_test_scaled = scaler1.transform(y_test)

In [17]:
#Coloca tu código aquí
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.utils import plot_model

model = Sequential()
model.add(Dense(256,input_dim = x_train.shape[1],activation="relu"))
model.add(Dense(128,activation="relu"))
model.add(Dense(128,activation="relu"))
model.add(Dropout(0.2))
model.add(Dense(1,activation = "linear")) 
model.compile(optimizer = "adam",loss="mse",metrics=["mean_absolute_error"])

print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 256)               25600
_________________________________________________________________
dense_1 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_2 (Dense)              (None, 128)               16512
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 129
=================================================================
Total params: 75,137
Trainable params: 75,137
Non-trainable params: 0
_________________________________________________________________
None

In [18]:
model.fit(x_train_scaled,y_train_scaled, validation_data = (x_val_scaled,y_val_scaled),epochs=50, batch_size=1024)

Epoch 1/50
306/306 [==============================] - 1s 4ms/step - loss: 0.5449 - mean_absolute_error: 0.5102 - val_loss: 0.5146 - val_mean_absolute_error: 0.4544
Epoch 2/50
306/306 [==============================] - 1s 3ms/step - loss: 0.4760 - mean_absolute_error: 0.4556 - val_loss: 0.4894 - val_mean_absolute_error: 0.4396
Epoch 3/50
306/306 [==============================] - 1s 3ms/step - loss: 0.4437 - mean_absolute_error: 0.4415 - val_loss: 0.4610 - val_mean_absolute_error: 0.4310
Epoch 4/50
306/306 [==============================] - 1s 3ms/step - loss: 0.4557 - mean_absolute_error: 0.4367 - val_loss: 0.4323 - val_mean_absolute_error: 0.4289
Epoch 5/50
306/306 [==============================] - 1s 3ms/step - loss: 0.4256 - mean_absolute_error: 0.4296 - val_loss: 0.4481 - val_mean_absolute_error: 0.4274
Epoch 6/50
306/306 [==============================] - 1s 3ms/step - loss: 0.4172 - mean_absolute_error: 0.4254 - val_loss: 0.4946 - val_mean_absolute_error: 0.4249
Epoch 7/50
306/306 [==============================] - 1s 3ms/step - loss: 0.4281 - mean_absolute_error: 0.4225 - val_loss: 0.5947 - val_mean_absolute_error: 0.4273
Epoch 8/50
306/306 [==============================] - 1s 3ms/step - loss: 0.4355 - mean_absolute_error: 0.4212 - val_loss: 0.4121 - val_mean_absolute_error: 0.4184
Epoch 9/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3963 - mean_absolute_error: 0.4148 - val_loss: 0.4117 - val_mean_absolute_error: 0.4186
Epoch 10/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3897 - mean_absolute_error: 0.4110 - val_loss: 0.4484 - val_mean_absolute_error: 0.4101
Epoch 11/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3893 - mean_absolute_error: 0.4080 - val_loss: 0.4005 - val_mean_absolute_error: 0.4101
Epoch 12/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3817 - mean_absolute_error: 0.4055 - val_loss: 0.3990 - val_mean_absolute_error: 0.4100
Epoch 13/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3753 - mean_absolute_error: 0.4031 - val_loss: 0.3924 - val_mean_absolute_error: 0.4096
Epoch 14/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3708 - mean_absolute_error: 0.4007 - val_loss: 0.3909 - val_mean_absolute_error: 0.4055
Epoch 15/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3674 - mean_absolute_error: 0.3983 - val_loss: 0.3884 - val_mean_absolute_error: 0.4063
Epoch 16/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3639 - mean_absolute_error: 0.3963 - val_loss: 0.3880 - val_mean_absolute_error: 0.4039
Epoch 17/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3609 - mean_absolute_error: 0.3948 - val_loss: 0.3886 - val_mean_absolute_error: 0.4075
Epoch 18/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3582 - mean_absolute_error: 0.3935 - val_loss: 0.3843 - val_mean_absolute_error: 0.4036
Epoch 19/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3550 - mean_absolute_error: 0.3917 - val_loss: 0.3854 - val_mean_absolute_error: 0.4001
Epoch 20/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3518 - mean_absolute_error: 0.3898 - val_loss: 0.3821 - val_mean_absolute_error: 0.4019
Epoch 21/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3500 - mean_absolute_error: 0.3888 - val_loss: 0.3865 - val_mean_absolute_error: 0.4059
Epoch 22/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3464 - mean_absolute_error: 0.3868 - val_loss: 0.3848 - val_mean_absolute_error: 0.3993
Epoch 23/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3449 - mean_absolute_error: 0.3858 - val_loss: 0.3850 - val_mean_absolute_error: 0.3998
Epoch 24/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3416 - mean_absolute_error: 0.3841 - val_loss: 0.3816 - val_mean_absolute_error: 0.4023
Epoch 25/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3405 - mean_absolute_error: 0.3836 - val_loss: 0.3854 - val_mean_absolute_error: 0.3991
Epoch 26/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3390 - mean_absolute_error: 0.3823 - val_loss: 0.3795 - val_mean_absolute_error: 0.3990
Epoch 27/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3365 - mean_absolute_error: 0.3809 - val_loss: 0.3807 - val_mean_absolute_error: 0.4005
Epoch 28/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3344 - mean_absolute_error: 0.3795 - val_loss: 0.3831 - val_mean_absolute_error: 0.3981
Epoch 29/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3319 - mean_absolute_error: 0.3783 - val_loss: 0.3776 - val_mean_absolute_error: 0.3940
Epoch 30/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3295 - mean_absolute_error: 0.3772 - val_loss: 0.3807 - val_mean_absolute_error: 0.4007
Epoch 31/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3279 - mean_absolute_error: 0.3762 - val_loss: 0.3756 - val_mean_absolute_error: 0.3937
Epoch 32/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3263 - mean_absolute_error: 0.3753 - val_loss: 0.3778 - val_mean_absolute_error: 0.3986
Epoch 33/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3253 - mean_absolute_error: 0.3748 - val_loss: 0.3794 - val_mean_absolute_error: 0.3967
Epoch 34/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3232 - mean_absolute_error: 0.3732 - val_loss: 0.3778 - val_mean_absolute_error: 0.3953
Epoch 35/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3217 - mean_absolute_error: 0.3722 - val_loss: 0.3774 - val_mean_absolute_error: 0.3946
Epoch 36/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3199 - mean_absolute_error: 0.3711 - val_loss: 0.3805 - val_mean_absolute_error: 0.4010
Epoch 37/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3184 - mean_absolute_error: 0.3705 - val_loss: 0.3757 - val_mean_absolute_error: 0.3916
Epoch 38/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3182 - mean_absolute_error: 0.3701 - val_loss: 0.3743 - val_mean_absolute_error: 0.3945
Epoch 39/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3159 - mean_absolute_error: 0.3689 - val_loss: 0.3767 - val_mean_absolute_error: 0.3927
Epoch 40/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3158 - mean_absolute_error: 0.3689 - val_loss: 0.3774 - val_mean_absolute_error: 0.3954
Epoch 41/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3139 - mean_absolute_error: 0.3679 - val_loss: 0.3765 - val_mean_absolute_error: 0.3926
Epoch 42/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3117 - mean_absolute_error: 0.3661 - val_loss: 0.3769 - val_mean_absolute_error: 0.3937
Epoch 43/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3115 - mean_absolute_error: 0.3661 - val_loss: 0.3749 - val_mean_absolute_error: 0.3910
Epoch 44/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3108 - mean_absolute_error: 0.3657 - val_loss: 0.3751 - val_mean_absolute_error: 0.3940
Epoch 45/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3107 - mean_absolute_error: 0.3653 - val_loss: 0.5102 - val_mean_absolute_error: 0.4031
Epoch 46/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3188 - mean_absolute_error: 0.3668 - val_loss: 0.8833 - val_mean_absolute_error: 0.3959
Epoch 47/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3708 - mean_absolute_error: 0.3648 - val_loss: 0.4261 - val_mean_absolute_error: 0.3986
Epoch 48/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3148 - mean_absolute_error: 0.3667 - val_loss: 0.5084 - val_mean_absolute_error: 0.3971
Epoch 49/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3275 - mean_absolute_error: 0.3664 - val_loss: 0.3730 - val_mean_absolute_error: 0.3882
Epoch 50/50
306/306 [==============================] - 1s 3ms/step - loss: 0.3050 - mean_absolute_error: 0.3620 - val_loss: 0.3733 - val_mean_absolute_error: 0.3889

Ahora realiza la evaluación del modelo con el set de entrenamiento.

In [19]:
result = model.evaluate(x_test_scaled,y_test_scaled)
for i in range(len(model.metrics_names)):
 print("Metric ",model.metrics_names[i],":",
str(round(result[i],2)))

2716/2716 [==============================] - 6s 2ms/step - loss: 0.3829 - mean_absolute_error: 0.3929
Metric  loss : 0.38
Metric  mean_absolute_error : 0.39

Si tu modelo cumple con el requerimiento guardalo con el siguiente comando:

In [20]:
model.save('PrediccionPrecios.h5')

# 5. Realiza un gráfico que evidencia la evolución de la función de pérdidas a traves de las distintas épocas de entrenamiento.

In [21]:
#Coloca tu código aquí
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(13,6))
plt.plot(model.history.history['loss'])
plt.plot(model.history.history['val_loss'])
plt.title("Pérdidas del modelo con set de entrenamiento y pruebas por época")
plt.ylabel('MSE')
plt.xlabel('Épocas')
plt.legend(['Entrenamiento', 'Validación'], loc='upper right')
plt.show()

KeyError: ignored

Trata de realizar predicciones con el modelo

In [22]:
real=pd.DataFrame(y_train)
predic=model.predict(pd.DataFrame(x_train_scaled))
valores_reescalados = scaler1.inverse_transform(predic)
pred_escal =pd.DataFrame(valores_reescalados)
# Muestra los valores reales y las predicciones
for i in range(0,5):
	print("Real=%s, Prediccion=%s" % (real[0][i], pred_escal[0][i]))

Real=18650, Prediccion=18777.834
Real=9950, Prediccion=9451.387
Real=2000, Prediccion=4259.1465
Real=7999, Prediccion=6482.0913
Real=23999, Prediccion=24245.33

# Happy coding!